<div class="chat-container">
    <div class="chat-header">
        <h1 class="chat-title">Chat Room</h1>
        <button (click)="Back()" class="logout-button">Back</button>

    </div>
    <div class="chat-messages">
        @for (message of messages; track $index) {
        <div class="message">
            <div class="message-header">
                <span class="message-user">{{ message.senderName }}</span>
                <span class="message-time">{{ message.timeStamp | date: 'short' }}</span>
            </div>
            <div class="message-body">{{ message.messageBody }}</div>
        </div>
        }
    </div>
    <div class="chat-input-container">
        <input [(ngModel)]="newMessage" placeholder="Type a message..." class="chat-input"
            (keyup.enter)="sendMessage()" />
        <button (click)="sendMessage()" class="send-button">Send</button>
    </div>
</div>